registry=https://centraluhg.jfrog.io/artifactory/api/npm/glb-npm-vir/
//centraluhg.jfrog.io/artifactory/api/npm/glb-npm-vir/:_authToken=${NPM_TOKEN}
//centraluhg.jfrog.io/artifactory/api/npm/rxsync-npm-vir/:_authToken=${NPM_TOKEN}
always-auth=true