SN_INSTANCE_URL=https://ctrx.service-now.com
SN_REPORT_URL=https://ctrx.service-now.com/now/nav/ui/classic/params/target/sys_report_template.do%3Fjvar_report_id%3Dea5b652483e24f549f08d418ddda1e5d
SN_USERNAME=your.username
SN_PASSWORD=your-password
SN_HEADLESS=true
SN_OUTPUT_DIR=output
